{% extends "main.html" %}
{% block content %}
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col-12">
                <h4>Add an Item</h4>
                <span></span>
                <div class="container  pt-3 pb-4 table-bordered">
                    <form action="#" method = "post">
                        <div class="form-group row">
                            <label for="item_name" class="col-sm-2 col-form-label">Item Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="item_name"
                                id="item_name" placeholder="Item Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="item_description" class="col-sm-2 col-form-label">
                                Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" name="item_description"
                                id="item_description" required></textarea>
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Category</legend>
                                <div class="col-sm-10">
                                    {% for c in categories %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                        name="item_category" id="{{c.categoryName}}"
                                        value="{{c.categoryId}}" required>
                                        <label class="form-check-label" for="item_category">
                                            {{c.categoryName}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <label for="item_inventory" class="col-sm-2 col-form-label"># In Stock
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control col-sm-2"
                                name="item_inventory" id="item_inventory" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <label for="item_price" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-auto">
                                <label class="sr-only" for="item_price">Price</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="text" class="form-control" name="item_price"
                                    id="item_price" placeholder="Price" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
