{% extends "main.html" %}
{% block content %}
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col-9">
                <span class="{{countMessageClass}}">{{countMessage}}</span>
                <div class="container  pt-3 pb-4" style="display:{{itemDisplay}}">
                    <div class="row">
                        <div class="col-6 mt-2 mt-2 bg-light border pt-3 pb-3">
                            <div class="media">
                                <img src="{{item.photoUrl}}" class="mr-3"  style="max-width:400px;">
                            </div>
                        </div>
                        <div class="col-6 mt-2 mt-2 bg-light border pt-3 pb-3">
                            <div class="media-body">
                                <h3 class="mt-0">{{item.itemName}}</h3>
                                <div class="m-3">{{item.itemDescription}}</div>
                                <div class="row">
                                    <div class="col-sm-8 mt-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6 class="card-title">{{item.itemName}}</h6>
                                                <p class="card-text">{{item.inventoryCount}} in stock</p>
                                                <p class="card-text"><h4>Price: <span class="badge badge-secondary">{{item.itemPrice}}</span></h4></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h5>&nbsp;</h5>
                {% for t in tagCloud %}
                    <a href="/catalog/tags/{{t.tag}}"><div class="badge badge-primary p-2 m-2">{{t.tag}}</div></a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
